# Example Location & Skills/Technologies Extraction

In [1]:
import json
import re
import spacy

import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

from math import log
from nltk.corpus import stopwords
from gensim.models.phrases import Phrases, Phraser
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

%matplotlib inline

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
# Load a word cost dictionary based on Zipf's law, for the english language
with open("./data/wordninja_words.txt", "r") as f:
    words = f.read().split()

wordcost = dict((k, log((i+1)*log(len(words)))) for i,k in enumerate(words))

## Load Job descriptions

In [4]:
raw = pd.read_csv("./data/data job posts.csv")

In [52]:
raw[['jobpost', 'Title', 'date', 'JobDescription', 'Location', 'Salary']].head(20)

,jobpost,Title,date,JobDescription,Location,Salary
0,AMERIA Investment Consulting Company\r\nJOB TI...,Chief Financial Officer,"Jan 5, 2004",AMERIA Investment Consulting Company is seekin...,"Yerevan, Armenia",NaN
1,International Research & Exchanges Board (IREX...,Full-time Community Connections Intern (paid i...,"Jan 7, 2004",NaN,"IREX Armenia Main Office; Yerevan, Armenia \r\...",NaN
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,Country Coordinator,"Jan 7, 2004",Public outreach and strengthening of a growing...,"Yerevan, Armenia",NaN
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,BCC Specialist,"Jan 7, 2004",The LEAD (Local Enhancement and Development fo...,"Manila, Philippines",NaN
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,Software Developer,"Jan 10, 2004",NaN,"Yerevan, Armenia",NaN
5,"Boutique ""Appollo""\r\nJOB TITLE: Saleswoman\r...",Saleswoman,"Jan 10, 2004",Saleswoman will sell menswear and accessories.,"Yerevan, Armenia\r\nWORK HOURS: 10:00 - 20:00;...",NaN
6,OSI Assistance Foundation - Armenian Branch Of...,Chief Accountant/ Finance Assistant,"Jan 11, 2004",The Armenian Branch Office of the Open Society...,"Yerevan, Armenia",NaN
7,International Research & Exchanges Board (IREX...,Non-paid part or full time Programmatic Intern,"Jan 13, 2004",NaN,IREX Armenia Main Office\r\nDESCRIPTION: IRE...,NaN
8,Yerevan Brandy Company \r\nJOB TITLE: Assista...,Assistant to Managing Director,"Jan 13, 2004",NaN,"Yerevan, Armenia",NaN
9,American Embassy Yerevan\r\nANNOUNCEMENT NUMBE...,"Program Assistant (INL), FSN-8; FP-6*","Jan 13, 2004",The incumbent assists in coordinating INL-fund...,NaN,NaN
10,International Research & Exchanges Board (IREX...,Short-Term Travel Grants (STG) Program,"Jan 13, 2004",NaN,NaN,NaN
11,International Research & Exchanges Board (IREX...,Non-paid part or full time Administrative Intern,"Jan 13, 2004",NaN,IREX Armenia Main Office\r\nDESCRIPTION: IRE...,NaN
12,Institute for Sustainable Communities (ISC)\r\...,Chief of Party (COP),"Jan 13, 2004",ISC seeks an experienced and creative Chief of...,"Tashkent, Uzbekistan Pending funding.",NaN
13,Food Security Regional Cooperation and Stabili...,"Community Development, Capacity Building and C...","Jan 14, 2004",Food Security Regional Cooperation and Stabili...,"Ijevan town, Tavush, Armenia.",NaN
14,Teleplus LLC\r\nJOB TITLE: General Manager\r\...,General Manager,"Jan 14, 2004",NaN,"Yerevan, Armenia",NaN
15,NetCall Communications\r\nJOB TITLE: Network ...,Network Administrator,"Jan 15, 2004",NaN,"Yerevan, Armenia",NaN
16,SOC.Stockholm\r\nTITLE: Utopian World Champi...,Utopian World Championship 2004,"Jan 15, 2004",NaN,NaN,NaN
17,"United Nations Development Programme, Armenia\...",Country Economist (NOB),"Jan 15, 2004",The United Nations Development Programme in Ar...,NaN,NaN
18,"Counterpart International, Inc.\r\nCounterpart...",Driver/ Logistics Assistant,"Jan 16, 2004",Driver/ Logistics Assistant is a full-time nat...,"Yerevan, Armenia",NaN
19,Xalt LLC\r\nJOB TITLE: Graphic Designer\r\nPO...,Graphic Designer,"Jan 16, 2004",The position of Graphic Designer (GD) demands ...,"Yerevan, Armenia",NaN

In [24]:
dat = list(raw['jobpost'])

## Extract and clean the cv text to create the Corpus

In [32]:
def clean_content(text):
    """ Specific to this data, cleaning up a lot of errant formatting"""
    # Removes errant urls
    text = " ".join([x for x in text.split() if ".com" not in x])
    text = " ".join([x for x in text.split() if "http" not in x])
    text = " ".join([x for x in text.split() if "www" not in x])
    text = " ".join([x for x in text.split() if "website" not in x])
    
    # Remove the section labels from Indeed.com's website
    text = " ".join([x for x in text.split() if not x.isupper() and len(x) > 3])
    
    # Reduce to only alphanumeric
    text = re.sub(r"[^a-zA-Z0-9 \-+#']", "", text)
    
    # Remove some dumb filler text about the website at the end
    text = text.split('-----------')[0]
    
    return(text)

In [28]:
corpus = [clean_content(example) for example in dat]

In [31]:
corpus[2]

'Caucasus Environmental Network Country Coordinator Renewable annual contract Yerevan Armenia Public outreach strengthening growing network environmental NGOs businesses international organizations public agencies Will serve primary contact between public This full-time position Working with Country Director provide environmental information general public regular electronic communications serving primary local contact Armenian NGOs businesses Armenian offices international organizations agencies Helping organize prepare seminars workshops Participating defining strategy policy Armenia Caucasus region abroad Degree environmentally related field years relevant experience Oral written fluency Armenian Russian English Knowledge experience working with environmental issues specific Armenia plus Salary commensurate with experience Please send resume toursulakazarian Electronic submissions only please Please clearly mention your application letter that learned this opportunity through Career Center mention website wwwcareercenteram Thanks January 2004 February 2004 Caucasus Environmental Network non-governmental non-profit organization established 1998 Since establishment through various projects acted voluntary effort foster regional cooperation means improved communication among environmental organizations Armenia Azerbaijan Georgia and partly Russia Turkey open horizontally integrated structure aimed supporting positive productive communication cooperation environmental protection projects issues ---------------------------------- place free posting other career related opportunities your organization careercenteram website e-mail atmailbox'

## Detect Countries using lookup table
Country names from https://datahub.io/core/country-list

In [43]:
countries_df = pd.read_csv("./data/country_list.csv")
countries_df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [44]:
countries = set(countries_df['Name'].apply(lambda x: x.lower()))

In [45]:
cities_df = pd.read_csv("./data/world-cities.csv")
cities_df.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [46]:
cities_lookup = {row['name'].lower(): row['country'].lower() for index, row in cities_df.iterrows()}

In [47]:
def find_countries(tokens, countries=countries):
    """ Expects a list of tokens that may or may not be country names. """
    return list(countries.intersection(set([x.lower() for x in tokens])))

def find_countries_by_city(tokens, cities_lookup=cities_lookup):
    """ Takes a list of tokens that may or may not be city names. """
    countries = [cities_lookup.get(token.lower(), 0) for token in tokens if not token.islower() and not token.isupper()]
    
    return [country for country in countries if country != 0]

In [41]:
find_countries(["Albania", "Bulgaria", "Dreaming City", "Narnia"])

['albania', 'bulgaria']

In [42]:
find_countries_by_city(["Newport", "London", "Sydney", "Timbuktu", "Washington"])

['united states', 'united kingdom', 'canada', 'mali', 'united states']

In [59]:
locations_clean = [clean_content(str(location)) for location in list(raw['Location'])]
countries = [find_countries(str(location).split()) for location in locations_clean]

## Extract Properties of Interest

In [63]:
def extract_keywords(doc):
    """
    Expects SpaCy parsed object. Outputs dict of lists of extracted words by
    various categories.
    """
    doc_components = {}
    parsed = nlp(doc)
    
    # Proper nouns extracted, because they tend to be the names of software packages etc
    doc_components["proper_nouns"] = [token.text for token in parsed if token.pos_ == 'PROPN']
    
    # Common nouns extracted, because they tend to be the names of soft skills-related things
    doc_components["common_nouns"] = [token.text for token in parsed if token.pos_ == 'NOUN']
    
    # Dates extracted through SpaCy's Named Entity Recognition
    doc_components["dates"] = [X.text for X in parsed.ents if X.label_ == 'DATE']
     
    return doc_components

In [64]:
parsed_docs = []
for doc in corpus:
    parsed_doc = extract_keywords(doc)
    parsed_doc['text'] = doc
    parsed_docs.append(parsed_doc)

In [65]:
parsed_docs[7]['text']

"International Research Exchanges Board Non-paid part full time Programmatic Intern months Armenia Main Office currently seeks fill position non-paid full part time Programmatic Intern position based Yerevan office This position reports directly Administrative Coordinator Program Manager internship program serves Reinforce strengthen interns' personal values career objectives through improved understanding themselves work environment Assist students identifying acquiring skills needed enter chosen field Provide practical work experience balance students' theoretical training Allow students meet learn from professionals field develop network contacts Internship Areas Administrative Internship Administrative Internship provides interns with experience areas public relations secretarial support translation interpretation Interns will responsible greeting visitors responding walk telephone inquiries about programs directing office communications appropriate staff editing written text assisting with daily administrative tasks such written translation oral interpretation filing copying faxing drafting correspondence research other duties needed Program Internships Program Internship provides interns with experience working directly with more IREX's programs including public relations outreach event coordination administrative tasks related specific programs Interns will responsible responding walk telephone inquiries related program assisting program staff with public outreach campaigns assisting development editing outreach materials assisting event coordination program related research various administrative tasks including limited written translation oral interpretation filing copying faxing drafting correspondence Program Interns assigned programs according program needs technical resources available intern skills Possible placements include Educational Information Center Computer Based Testing Center Internet Access Training Program Community Connection Exchange Program Partnerships Training Division Education Curriculum Development Programs Academic Exchanges Research Division Alumni Program apply please download submit application form more information please contact 374-1 57-53-36 57-18-96 57-16-31 e-mail irex Please clearly mention your application letter that learned this opportunity through Career Center mention website wwwcareercenteram Thanks January 2004 International Research Exchanges Board US-Based private non-profit organization Armenia Yerevan office established 1992 place Armenia where interested individuals obtain up-to-date information study research professional internship opportunities Unites States Yerevan collaborates with national government branches local international NGOs institutions higher education promotion administered research professional programs goal these programs make American academic professional experiences available qualified individuals ---------------------------------- place free posting other career related opportunities your organization careercenteram website e-mail atmailbox"

In [66]:
parsed_docs[7]['proper_nouns']

['International',
 'Research',
 'Exchanges',
 'Board',
 'Non',
 'Programmatic',
 'Intern',
 'Armenia',
 'Main',
 'Office',
 'Intern',
 'Yerevan',
 'Administrative',
 'Coordinator',
 'Program',
 'Manager',
 'Reinforce',
 'Assist',
 'Allow',
 'Internship',
 'Areas',
 'Administrative',
 'Internship',
 'Administrative',
 'Internship',
 'Interns',
 'Program',
 'Internships',
 'Program',
 'Internship',
 'IREX',
 'Interns',
 'Program',
 'Interns',
 'Educational',
 'Information',
 'Center',
 'Computer',
 'Based',
 'Testing',
 'Center',
 'Internet',
 'Access',
 'Training',
 'Program',
 'Community',
 'Connection',
 'Exchange',
 'Program',
 'Partnerships',
 'Training',
 'Division',
 'Education',
 'Curriculum',
 'Development',
 'Programs',
 'Academic',
 'Exchanges',
 'Research',
 'Division',
 'Alumni',
 'Program',
 'Career',
 'Center',
 'January',
 'International',
 'Research',
 'Exchanges',
 'Board',
 'US',
 'Armenia',
 'Yerevan',
 'Armenia',
 'States',
 'Yerevan',
 'NGOs']

## Identifying Skills
### Create a BOW representation of phrases with Nouns

In [84]:
# Further clean corpus, only want the 3+ length non-stopwords
STOPWORDS = stopwords.words('english')
model_corpus = [[word for word in doc['proper_nouns'] if (word.lower() not in STOPWORDS) & (len(word) > 2)] for doc in parsed_docs]

# Conjoin words that are likely to be phrases
phrases = Phrases([x for x in model_corpus], min_count=20, threshold=2)
model_corpus = [phrases[doc] for doc in model_corpus]

# de-dup - only need each word once
model_corpus = [" ".join(set(doc)) for doc in model_corpus]

In [87]:
model_corpus[7]

'Reinforce Non Center Internship Internet Division Exchanges Computer Development_Programs Training Education Educational Internships Academic Access Community Exchanges_Board Testing Programmatic IREX Research Curriculum Based Exchange_Program Assist January Intern Administrative Yerevan International_Research Information Alumni Office States Coordinator Main Career_Center Program Areas Manager Yerevan_Armenia NGOs Armenia Interns Connection Partnerships Allow'

In [88]:
# Build model with limited vocab size. 
vectorizer = CountVectorizer(max_features=1000)
vectors = vectorizer.fit_transform(model_corpus)
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

# Quick look to check that worked
df.head()

,ability,ability_ability,ability_flexibility,ability_problem,abovyan,academy_teryan,accept_employment,access,account,accountant,...,work,working,world,world_bank,world_vision,write,writing_communication,yerevan,yerevan_armenia,zeppelin_armenia
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

### Look at some subsets

In [91]:
# Subset the data to a selection of interest
selection = [i for i in range(len(parsed_docs)) if "developer" in parsed_docs[i]['text'].lower()]
#selection = [i for i in range(len(parsed_docs)) if "united kingdom" in parsed_docs[i]['countries']]
print(len(selection))

# Sum the Model scores by word, pivot
summed_scores = df.iloc[selection].sum(axis=0).sort_values(ascending=False)
output = pd.DataFrame({"word":summed_scores.index, "model":summed_scores.values})

# Calculate the commonality of each word (or both, for zipf's law) with Zipf's law, unrecognised gets 9999
output['commonality'] = output['word'].apply(lambda x: sum([wordcost.get(y.lower(), 9999) for y in x.split("_")]))

# Rank the importance of each word for this group of documents according to TF-IDF and rarity.  Higher == Better!
output['combined_rank'] = output['model'].rank(ascending=False) + output['commonality'].rank(ascending=False)
output.sort_values('combined_rank')

2443

                        word  model   commonality  combined_rank
56         javascript_jquery    142     24.719415          122.0
2            yerevan_armenia   1719     21.855039          125.0
16         permanent_yerevan    316     21.887217          137.0
111                   aspnet     79   9999.000000          157.0
0          post_announcement   2292     20.951287          157.0
153             jobid_career     59  10007.926467          175.0
112          energize_global     79     24.318762          181.5
139                 altacode     66   9999.000000          183.5
28        software_developer    235     20.758664          196.0
90             net_framework     97     22.045833          202.0
98                 java_java     88     22.142039          206.0
201             synopsys_inc     43  10009.473797          213.0
123           java_developer     75     22.547322          217.5
197  questrade_international     44  10007.371520          222.5
198         october_synopsys     44  10006.939901          225.0
160             mysql_oracle     57     24.317062          229.5
11           ability_ability    477     19.693611          230.0
187                 synopsys     48   9999.000000          231.0
220    firmplace_corporation     40  10009.222625          231.5
190                questrade     47   9999.000000          235.0
136        quality_assurance     69     22.354474          236.5
162          adobe_photoshop     56     24.198906          236.5
100              senior_java     87     21.389226          238.5
140          mentor_graphics     65     22.452055          239.0
129  professionals_permanent     71     21.760944          253.5
154      willingness_ability     58     22.365335          254.5
118       bachelors_computer     77     21.211621          265.5
89       software_developers     97     20.503740          268.0
108          object_oriented     82     20.800158          273.0
128    javascript_experience     71     21.286276          273.5
..                       ...    ...           ...            ...
633                     make      3      7.078558         1631.5
855                 officers      0     10.310809         1638.5
674                    short      2      8.395683         1641.5
955                selection      0     10.268097         1643.5
740               washington      1      9.275783         1649.5
905                  license      0     10.245828         1649.5
967                   labour      0     10.176775         1660.5
856                   annual      0     10.156007         1663.5
978                    hotel      0     10.110269         1668.5
839                    rural      0     10.099707         1671.5
926                     file      0     10.080213         1674.5
769                    field      1      9.037118         1675.5
804                  council      1      8.883432         1687.5
822                languages      1      8.821280         1691.5
863           administrative      0      9.940476         1692.5
676                    world      2      6.767503         1696.5
703                    first      2      6.101024         1699.5
823                      law      1      8.459890         1718.5
860                 personal      0      9.669073         1733.5
985                     care      0      9.645790         1735.5
956                secretary      0      9.570863         1748.5
736                    water      1      7.544842         1761.5
909                    civil      0      9.135470         1796.5
870                    radio      0      9.027293         1810.5
885                    names      0      8.780602         1828.5
830                 republic      0      8.547937         1843.5
911                 children      0      8.140191         1864.5
933                  country      0      7.616729         1893.5
850                     area      0      7.323250         1899.5
897                   region      0      7.217028         1901.5

[1000 rows x 4 columns]

In [92]:
# Subset the data to a selection of interest
selection = range(len(parsed_docs))
#selection = [i for i in range(len(parsed_docs)) if "united kingdom" in parsed_docs[i]['countries']]
print(len(selection))

# Sum the Model scores by word, pivot
summed_scores = df.iloc[selection].sum(axis=0).sort_values(ascending=False)
output = pd.DataFrame({"word":summed_scores.index, "model":summed_scores.values})

# Calculate the commonality of each word (or both, for zipf's law) with Zipf's law, unrecognised gets 9999
output['commonality'] = output['word'].apply(lambda x: sum([wordcost.get(y.lower(), 9999) for y in x.split("_")]))

# Rank the importance of each word for this group of documents according to TF-IDF and rarity.  Higher == Better!
output['combined_rank'] = output['model'].rank(ascending=False) + output['commonality'].rank(ascending=False)
output.sort_values('combined_rank')

19001

                        word  model   commonality  combined_rank
2            yerevan_armenia  13264     21.855039          125.0
0          post_announcement  18034     20.951287          157.0
38         permanent_yerevan   1351     21.887217          159.0
24           fluency_english   1714     20.610186          200.0
141              str_yerevan    535     23.511939          220.5
10           ability_ability   2796     19.693611          229.0
205                 armentel    335   9999.000000          249.0
69                word_excel    870     20.289316          255.5
169         chief_accountant    432     21.977098          283.0
14              long_yerevan   2149     18.884624          283.0
257               ameriabank    270   9999.000000          302.0
56          republic_armenia    961     18.909043          323.0
278                    usaid    254   9999.000000          323.5
1              career_center  17175     16.995707          331.0
267          adobe_photoshop    263     24.198906          340.5
297                 synopsys    240   9999.000000          341.5
91          microsoft_office    727     19.047243          351.0
310                 companys    232   9999.000000          356.0
165       competitive_career    440     20.166689          357.5
342         october_synopsys    209  10006.939901          369.5
123  business_administration    573     19.299037          372.0
189               excel_word    372     20.289316          375.5
200             full_yerevan    343     20.374103          383.0
339                 armenias    211   9999.000000          383.5
293       finance_accounting    244     22.608051          383.5
294       accounting_finance    243     22.608051          384.5
323            resume_resume    222     24.756818          388.0
325         excel_powerpoint    219     25.065428          391.0
105         application_form    637     18.502339          391.0
268      project_coordinator    263     21.757788          393.5
..                       ...    ...           ...            ...
955                     send     73     10.039535         1717.5
941               activities     73     10.022997         1721.5
939                 positive     74      9.895329         1725.5
798                    union     90      8.491716         1736.0
932                     edit     75      9.728168         1745.0
813                    women     87      8.510810         1749.5
907                   letter     78      9.272477         1773.5
835                    human     85      8.424443         1774.5
873                   leader     81      8.888307         1775.5
876                    radio     80      9.027293         1777.0
980                   direct     71      9.816519         1781.0
831                   london     85      8.105345         1788.5
802                    world     89      6.767503         1799.5
909                  society     77      9.111126         1800.5
881                   energy     80      8.557007         1809.0
957                     read     73      9.200404         1828.5
937                   rights     74      9.057851         1833.5
901                   member     78      8.432145         1842.5
894                  capital     79      8.129864         1843.0
928                    names     75      8.780602         1846.0
918                   groups     76      8.574905         1848.5
968                     asia     72      9.104620         1855.0
874                   family     80      7.678373         1855.0
878                    first     80      6.101024         1879.0
967                     keep     72      8.651702         1888.0
992              switzerland     70      8.969222         1896.0
913                 american     77      7.172968         1904.5
930                   region     75      7.217028         1919.0
931                     city     75      6.488789         1929.0
998                     line     70      8.173865         1943.0

[1000 rows x 4 columns]

## Extract employment periods
#### Martin, your examples are 8, 20, (30 for broken)

Conclusion; use NER + regex to find dates and QA that there's a valid year present.

In [154]:
def split_epochs(parsed_doc):
    """ Take one of my parsed document dicts, split the text on date. """
    
    # Get all dates (removing oddities to do with describing length of experience)
    excluded_words = ['server', 'year']
    dates = [date for date in parsed_doc['dates']]
    dates = [date for date in dates if sum([word in date.lower() for word in excluded_words]) == 0]
    
    # Alternative;
    dates = re.findall(r"[1|2]{1}[0-9]{3}", parsed_doc['text'])
    
    dates.reverse()
    
    # Iterate through, chop up text at dates oldest first
    epoch_texts = {}
    text = parsed_doc['text']
    for date in dates:
        try:
            text, extracted = text.split(date)[0:2]
            epoch_texts[date] = extracted
        except:
            pass
    return(epoch_texts)

In [155]:
test = parsed_docs[0]['dates'][0]
test

'November 2017'

In [156]:
index = 20
print(parsed_docs[index]['text'])
split_epochs(parsed_docs[index])

Govardhana Senior Software Engineer Bengaluru Karnataka Karnataka Email Indeed b2de315d95905b68 Total experience Years Months Cloud Lending Solutions Month Salesforce Developer Oracle Years Month Core Java Developer Languages Core Java Lang Oracle programming Sales Force Developer with Designations Promotions Willing relocate Anywhere Senior Software Engineer Cloud Lending Solutions Bangalore Karnataka January 2018 Present Present Senior Consultant Oracle Bangalore Karnataka November 2016 December 2017 Staff Consultant Oracle Bangalore Karnataka January 2014 October 2016 Associate Consultant Oracle Bangalore Karnataka November 2012 December 2013 Computer Science Engineering Adithya Institute Technology Tamil Nadu September 2008 June 2012 Less than year Data Structures years years Oracle years Algorithms years Technical Proficiency Languages Core Java Lang Data Structures Algorithms Oracle programming Sales Force with Tools RADTool Jdeveloper NetBeans Eclipse developer Developer WinSCP Putty Technologies JavaScript Webservice Operating Systems Linux Windows Version control system Git-Hub Databases Oracle Middleware logic Product Oracle Versions 10x 11x 12x

{'2012': ' December 2013 Computer Science Engineering Adithya Institute Technology Tamil Nadu September 2008 June ',
 '2016': ' December 2017 Staff Consultant Oracle Bangalore Karnataka January 2014 October ',
 '2018': ' Present Present Senior Consultant Oracle Bangalore Karnataka November '}