# Example Location & Skills/Technologies Extraction

In [1]:
import json
import re
import spacy

import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

from math import log
from nltk.corpus import stopwords
from gensim.models.phrases import Phrases, Phraser
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

%matplotlib inline

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
# Load a word cost dictionary based on Zipf's law, for the english language
with open("./data/wordninja_words.txt", "r") as f:
    words = f.read().split()

wordcost = dict((k, log((i+1)*log(len(words)))) for i,k in enumerate(words))

## Load CV data

In [11]:
dat = list(pd.read_csv("./data/seek_australia_sample.csv", encoding="latin-1")['job_description'])
dat[3]

'One of our Clients is looking for a Warehouse assistant to join the team at their Bundaberg Branch To be considered you will need the following skills and attributes: Reliable and good work ethic The ability to work 4-5 days a week Have good communication skills\xa0 Has a positive "can-do" attitude Good knowledge of WH&S regulations Some of the Responsibilities may include, but are not limited to: Stocktaking Invoiceing and freight labeling Receipting stock\xa0 Product repairs Cleaning warehouse/office Some manual handling Machine operating If you think you have the above qualities, are looking for a new challenge and believe you have what it takes to help drive the team to success then apply below Please no recruitment agencies'

## Extract and clean the cv text to create the Corpus

In [12]:
def clean_content(text):
    """ Specific to this data, cleaning up a lot of errant formatting"""
    # Removes errant indeed.com urls
    text = " ".join([x for x in text.split() if ".com" not in x])
    text = " ".join([x for x in text.split() if "http" not in x])
    
    # Reduce to only alphanumeric
    text = re.sub(r"[^a-zA-Z0-9 \-+#']", "", text)
    
    return(text)

In [15]:
corpus = [clean_content(str(example)) for example in dat]

In [16]:
corpus[15]

'Sub contract work available for reliable Installers with experience in verandahs  Patios utilising colorbond timber  metal framingstructures insulated roof panelling and opening and closing roofs Best suited to two-man teams Continuous work available Must have ABN Public Liability and white card Contact us on 9704 4900'

## Load Countries Data
Country names from https://datahub.io/core/country-list

In [17]:
countries_df = pd.read_csv("./data/country_list.csv")
countries_df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [18]:
countries = set(countries_df['Name'].apply(lambda x: x.lower()))

In [19]:
cities_df = pd.read_csv("./data/world-cities.csv")
cities_df.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [20]:
cities_lookup = {row['name'].lower(): row['country'].lower() for index, row in cities_df.iterrows()}

## Extract Properties of Interest

In [21]:
def find_countries(tokens, countries=countries):
    """ Expects a list of tokens that may or may not be country names. """
    return list(countries.intersection(set([x.lower() for x in tokens])))

def find_countries_by_city(tokens, cities_lookup=cities_lookup):
    """ Takes a list of tokens that may or may not be city names. """
    countries = [cities_lookup.get(token.lower(), 0) for token in tokens]
    return [country for country in countries if country != 0]

In [22]:
find_countries(["Albania", "Bulgaria", "Dreaming City", "Narnia"])

['albania', 'bulgaria']

In [23]:
find_countries_by_city(["newport", "london", "sydney", "timbuktu", "washington"])

['united states', 'united kingdom', 'canada', 'mali', 'united states']

In [54]:
def extract_keywords(doc):
    """
    Expects SpaCy parsed object. Outputs dict of lists of extracted words by
    various categories.
    """
    doc_components = {}
    parsed = nlp(doc)
    
    # Proper nouns extracted, because they tend to be the names of software packages etc
    doc_components["proper_nouns"] = [token.text for token in parsed if token.pos_ == 'PROPN']
    
    # Common nouns extracted, because they tend to be the names of soft skills-related things
    doc_components["common_nouns"] = [token.text for token in parsed if token.pos_ == 'NOUN']
    
    # Dates extracted through SpaCy's Named Entity Recognition
    doc_components["dates"] = [X.text for X in parsed.ents if X.label_ == 'DATE']
    
    doc_components["countries"] = find_countries([X.text for X in parsed])
        
    return doc_components

In [55]:
phrases = Phrases([x.split() for x in corpus], min_count=3, threshold=1)

In [56]:
parsed_docs = []
for doc in corpus:
    parsed_doc = extract_keywords(doc)
    parsed_doc['text'] = doc
    parsed_doc['phrases'] = phrases[doc.replace(".", "").split()]
    parsed_docs.append(parsed_doc)

In [45]:
phrases[parsed_docs[0]['text'].replace(".", "").split()]

['The_Role',
 'General',
 'Execution',
 'Accountable_for',
 'safe_and',
 'efficient_planning',
 'and_execution',
 'of_the',
 'pipeline_installation',
 'scope',
 'in_accordance',
 'with',
 'Contract',
 '1',
 'Support_Construction',
 'Manager',
 'in',
 'engagements_with',
 'management',
 'and_JVPs',
 '2',
 'Support_Construction',
 'Manager',
 'in',
 'contracts_management',
 '3',
 'Accountable_for',
 'ensuring',
 'PIC_has',
 'a_robust',
 'pipeline_installation',
 'strategy_and',
 'execution_schedule',
 '4',
 'Accountable_for',
 'developing_and',
 'achieving_package',
 'specific_KPIs',
 '5',
 'Accountable_for',
 'the',
 'effective_implementation',
 'of_readiness',
 'milestones',
 'OE',
 '1',
 'Develop_and',
 'implement',
 'a',
 'package_specific',
 'IIF_Implementation',
 'plan',
 '2',
 'Cascade_the',
 'IIF_Vision',
 'and',
 'Project_expectation',
 'to_OIC',
 'contractors_Exhibit',
 'OE_leadership',
 'behaviours_including',
 'delivery_of',
 'presentations',
 'to',
 'workforce_use',
 'of_MSW',
 'build_relationships',
 'inductions',
 '3',
 'SLT',
 'member',
 '4',
 'Accountable_for',
 'high_quality',
 'Contractors_HAZID',
 'workshops_constructability',
 'reviews_equipment',
 'audits',
 '5',
 'Accountable_for',
 'input_to',
 'SIMOPS_Matrix',
 'and',
 'addressing_SIMOPS',
 'risk',
 '6',
 'Accountable_for',
 'package_compliance',
 'with',
 'Project_plans',
 'and_processes',
 'including_HES',
 'PTW_Quality',
 'Risk_Management',
 'Interface_MOC',
 'and',
 'all_relevant',
 'OE_elements',
 '7',
 'Accountable_for',
 'application_of',
 'best_practices',
 'and_lessons',
 'learned_from',
 'other_projects',
 'Capture_lessons',
 'learned',
 'and',
 'share',
 'with',
 'ABU',
 'teams',
 'Technical',
 'Quality',
 '1',
 'Accountable_for',
 'the_development',
 'of',
 'high_quality',
 'timely_deliverables',
 '2',
 'Ownership_of',
 'pipeline_installation',
 'analysis_and',
 'procedures_ECA',
 'work',
 '3',
 'Manage',
 'development_of',
 'weld',
 'and_NDE',
 'procedures',
 'in_conjunction',
 'with',
 'Engineering',
 '4',
 'Align_with',
 'Engineering',
 'on_line',
 'pipe_and',
 'coating_technical',
 'documentation',
 '5',
 'Align_PIC',
 'documentation',
 'with_SEV',
 'design_and',
 'manuals_Align',
 'with_SEV',
 'on',
 'technical_interfaces',
 'and',
 'SIT_scope',
 '6',
 'BI',
 'APS',
 'FCGT',
 '7',
 'Support_Senior',
 'Project_Engineer',
 'in_executing',
 'MWS_scope',
 'in_accordance',
 'with',
 'Contract_requirements',
 '8',
 'Responsible_for',
 'maintaining_the',
 'integrity_of',
 'Company_assets',
 'whilst',
 'the',
 'assets_are',
 'in_the',
 'custody_of',
 'the',
 'package',
 'team_preservation',
 'appropriate_MOC',
 'in_conjunction',
 'with',
 'Engineering_Team',
 'Interfaces',
 '1',
 'Accountable_for',
 'effective_management',
 'of_all',
 'interfaces',
 'Line',
 'pipe_and',
 'coating',
 'suppliers',
 'subsea',
 'equipment_vendor',
 'SIC',
 'scope',
 'interfaces',
 'Other_stakeholders',
 'SCM_Engineering',
 'CPI_Coordinator',
 'Quality_SC',
 'and',
 'Operations',
 'OC',
 '1',
 'Support_Construction',
 'Manager',
 'in',
 'maintaining_strong',
 'owners',
 'team',
 'OC',
 '2',
 'Accountable_for',
 'maintaining',
 'suitable',
 'Contractors',
 'OC',
 '3',
 'Coordination_of',
 'Company_provided',
 'third_party',
 'offshore',
 'technical_support',
 'Project_Controls',
 '1',
 'Responsible_for',
 'package',
 'expenditure_and',
 'schedule',
 'assurance',
 'in_accordance',
 'with_the',
 'Contract',
 '2',
 'Package',
 'level',
 'performance_reporting',
 'The_Company',
 'Our_Client',
 'is_an',
 'International',
 'Oil_and',
 'Gas',
 'Operator',
 'involved_in',
 '2',
 "of_Australia's",
 'largest',
 'LNG',
 'Projects',
 'based_in',
 'Western_Australia',
 'Spending',
 'more_than',
 '20_years',
 'building_a',
 'culture_of',
 'safety_and',
 'environmental',
 'stewardship',
 'that_strives',
 'to_achieve',
 'world-class',
 'performance',
 'our_client',
 'places',
 'the_highest',
 'of',
 'priority',
 'on_developing',
 'a_strong',
 'safety_focused',
 'culture',
 'Essential_Skills',
 'Qualifications',
 '1',
 'Significant_experience',
 '20+_years',
 'in_the',
 'upstream_oil',
 'and_gas',
 'industry',
 'with_demonstrated',
 'experience_successfully',
 'delivering_offshore',
 'subsea_projects',
 '2_Demonstrated',
 'ability_to',
 'lead_subsea',
 'package_delivery',
 'teams',
 'and',
 'identify_and',
 'build_key',
 'relationships_with',
 'peer',
 'and',
 'stakeholders_to',
 'successfully_deliver',
 'exceptional_project',
 'performance',
 '3_Demonstrated',
 'ability_to',
 'manage_internal',
 'and_external',
 'resources_and',
 'resolve_engineering',
 'interfaces',
 'in_a',
 'timely_manner',
 'to_ensure',
 'successful_delivery',
 'of_subsea',
 'major_capital',
 'projects',
 '4_Demonstrated',
 'ability_to',
 'successfully_manage',
 'contractor_performance',
 'in',
 'delivery_of',
 'subsea_packages',
 'About',
 'Fircroft',
 'Fircroft',
 'has_been',
 'placing_people',
 'in',
 'specialist_technical',
 'industries',
 'for',
 'approaching',
 'half_a',
 'century',
 'focusing_on',
 'mid_to',
 'senior_level',
 'engineers',
 'for',
 'contract',
 'and',
 'permanent_roles',
 'worldwide',
 'By_applying',
 'for_this',
 'job',
 'you',
 'give',
 'consent',
 'for',
 'Fircroft',
 'to',
 'contact',
 'you',
 'via_email',
 'telephone',
 'to_discuss',
 'your_application',
 'along_with',
 'future',
 'positions',
 'and',
 'Fircrofts',
 'services']

## Identifying Tech Skills
### Create a BOW representation of phrases containing Proper Nouns

In [46]:
# Further clean corpus, only want the 3+ length non-stopwords
STOPWORDS = stopwords.words('english')
model_corpus = [[word for word in doc['proper_nouns'] + doc['common_nouns'] if (word.lower() not in STOPWORDS) & (len(word) > 2)] for doc in parsed_docs]

# Conjoin words that are likely to be phrases
phrases = Phrases([x for x in model_corpus], min_count=1, threshold=1)
model_corpus = [phrases[doc] for doc in model_corpus]

# de-dup - only need each word once
model_corpus = [" ".join(set(doc)) for doc in model_corpus]

In [47]:
# Build BOW model with limited vocab size. 
vectorizer = CountVectorizer(max_features=1000)
vectors = vectorizer.fit_transform(model_corpus)
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

# Quick look to check that worked
df.head()

,ability,ability_ability,ability_part,ability_pressure,ability_relationships,ability_team,aboriginal_torres,access,accommodation,accordance,...,workplace,works,workshop,world,world_class,writing,year,years,years_experience,zealand
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [59]:
# Subset the data to a selection of interest
#selection = [i for i in range(len(parsed_docs)) if "programming" in parsed_docs[i]['text'].lower()]
selection = [i for i in range(len(parsed_docs)) if "united states" in parsed_docs[i]['countries']]
print(len(selection))

# Sum the TF-IDF scores by word, pivot
summed_scores = df.iloc[selection].sum(axis=0).sort_values(ascending=False)
output = pd.DataFrame({"word":summed_scores.index, "model":summed_scores.values})

# Calculate the commonality of each word (or both, for zipf's law) with Zipf's law, unrecognised gets 9999
output['commonality'] = output['word'].apply(lambda x: sum([wordcost.get(y.lower(), 9999) for y in x.split("_")]))

# Rank the importance of each word for this group of documents according to TF-IDF and rarity.  Higher == Better!
output['combined_rank'] = output['model'].rank(ascending=False) + output['commonality'].rank(ascending=False)
output.sort_values('combined_rank')

0

                           word  model   commonality  combined_rank
668            worklife_balance      0  10009.642076          501.5
503      stakeholder_management      0  10009.177669          502.5
129                        kpis      0   9999.000000          507.0
369                       andor      0   9999.000000          507.0
504                 stakeholder      0   9999.000000          507.0
409                         crm      0   9999.000000          507.0
537              superannuation      0   9999.000000          507.0
270                  australias      0   9999.000000          507.0
686                         whs      0   9999.000000          507.0
130                         kpi      0   9999.000000          507.0
256              benefits_perks      0     25.249379          511.5
903                     pty_ltd      0     24.733127          512.5
922        remuneration_package      0     24.511235          513.5
927  relationships_stakeholders      0     24.168904          514.5
878        recruitment_agencies      0     23.487173          515.5
618            salary_packaging      0     23.367170          516.5
111    employment_opportunities      0     23.182575          517.5
551             strait_islander      0     23.093131          518.5
72          diversity_inclusion      0     22.988335          519.5
768        opportunity_employer      0     22.701125          520.5
712                  sydney_cbd      0     22.675010          521.5
705      tasks_responsibilities      0     22.660884          522.5
115           employee_benefits      0     22.651967          523.5
121     duties_responsibilities      0     22.637233          524.5
856          negotiation_skills      0     22.597624          525.5
255             benefits_salary      0     22.538985          526.5
619              salary_package      0     22.535428          527.5
895           quality_assurance      0     22.354474          528.5
720               torres_strait      0     22.289185          529.5
959         policies_procedures      0     22.256685          530.5
..                          ...    ...           ...            ...
711                      system      0      7.661935         1471.5
170                        life      0      7.656394         1472.5
644                  university      0      7.650823         1473.5
213                  government      0      7.628223         1474.5
382                     country      0      7.616729         1475.5
786                       place      0      7.610932         1476.5
792                      person      0      7.581431         1477.5
631                       water      0      7.544842         1478.5
659                        west      0      7.532342         1479.5
413                  department      0      7.513293         1480.5
630                         way      0      7.440171         1481.5
210                       group      0      7.412197         1482.5
681                        work      0      7.368712         1483.5
850                      number      0      7.330972         1484.5
355                        area      0      7.323250         1485.5
103                     english      0      7.283719         1486.5
966                      player      0      7.234122         1487.5
909                      region      0      7.217028         1488.5
700                        team      0      7.199636         1489.5
561                       state      0      7.190825         1490.5
861                    national      0      7.181936         1491.5
661                        year      0      7.145569         1492.5
643                         use      0      7.058557         1493.5
660                       years      0      6.952074         1494.5
782                        part      0      6.832885         1495.5
664                       world      0      6.767503         1496.5
826                         may      0      6.697544         1497.5
730                        time      0      6.540975         1498.5
446                        city      0      6.488789         1499.5
799                      people      0      5.959945         1500.5

[1000 rows x 4 columns]

In [58]:
# Subset the data to a selection of interest
selection = [i for i in range(len(parsed_docs))]
print(len(selection))

# Sum the TF-IDF scores by word, pivot
summed_scores = df.iloc[selection].sum(axis=0).sort_values(ascending=False)
output = pd.DataFrame({"word":summed_scores.index, "model":summed_scores.values})

# Calculate the commonality of each word (or both, for zipf's law) with Zipf's law, unrecognised gets 9999
output['commonality'] = output['word'].apply(lambda x: sum([wordcost.get(y.lower(), 9999) for y in x.split("_")]))

# Rank the importance of each word for this group of documents according to TF-IDF and rarity.  Higher == Better!
output['combined_rank'] = output['model'].rank(ascending=False) + output['commonality'].rank(ascending=False)
output.sort_values('combined_rank')

20030

                      word  model  commonality  combined_rank
10    communication_skills    867    20.684283           74.5
35        attention_detail    440    20.959716           89.5
17        customer_service    700    20.271234           97.5
24       skills_experience    515    20.222301          107.0
62          skills_ability    317    20.182698          151.0
122        drivers_licence    187    21.569416          161.5
117     selection_criteria    193    20.772625          176.0
143          monday_friday    173    21.369573          187.5
194                  andor    141  9999.000000          200.5
176          torres_strait    151    22.289185          204.0
99   experience_experience    223    19.772817          206.5
190   opportunity_employer    142    22.701125          210.0
185      aboriginal_torres    144    22.057077          219.0
114   position_description    203    19.757203          223.0
31        years_experience    468    16.838483          243.5
41        team_environment    389    16.982276          251.5
104           cover_letter    219    18.916745          253.0
127     project_management    183    19.355277          254.5
103        experience_role    220    18.743437          257.5
253        strait_islander    121    23.093131          271.5
54             new_zealand    346    16.333106          276.0
165          health_safety    155    19.544625          285.0
259         salary_package    119    22.535428          287.5
77         time_management    255    16.718644          292.0
180        ability_ability    148    19.693611          293.0
224      management_skills    130    20.513561          294.5
53               part_team    352    14.032521          299.0
102       work_environment    221    17.151352          309.5
135           track_record    179    18.128197          317.0
215       role_opportunity    133    19.855302          320.0
..                     ...    ...          ...            ...
937             collection     43     9.723960         1706.0
991                  steel     41     9.973868         1708.0
912               everyone     44     9.561813         1708.0
981                perform     41     9.968930         1710.0
897                machine     44     9.510085         1718.0
899                   post     44     9.433228         1726.0
794              something     50     8.498919         1730.0
953              operating     42     9.747572         1730.5
928                medical     43     9.548502         1734.0
906                    pay     44     9.380153         1740.0
813                  point     49     8.501308         1746.5
934                produce     43     9.432288         1750.0
987                  cover     41     9.644269         1773.0
836                  right     48     8.234879         1784.0
974                  cross     42     9.373191         1794.5
990                studies     41     9.523914         1797.0
829             university     48     7.650823         1807.0
848                   help     47     8.101792         1808.5
977              territory     41     9.394909         1816.0
992                  stage     41     9.228476         1838.0
883                  great     45     7.861600         1851.0
982                 awards     41     9.088830         1854.0
898                capital     44     8.129864         1864.0
968                current     42     8.624645         1879.5
983                writing     41     8.851999         1890.0
949                 period     42     8.390364         1898.5
976                college     41     8.684028         1903.0
965                   form     42     7.980890         1921.5
997                   good     41     7.705185         1957.0
975                   west     41     7.532342         1967.0

[1000 rows x 4 columns]

In [57]:
print([doc['countries'] for doc in parsed_docs[0:30]])

[['australia'], ['australia'], [], [], [], ['australia'], ['australia'], [], [], [], [], ['australia'], ['australia'], ['italy'], ['australia'], [], [], [], [], [], ['australia'], [], [], ['australia'], [], [], [], [], [], []]